body {
    margin: 0;
    font-size: 100%;
    background-color: lightgray;
    font-family: 'Nunito Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
header{
    margin-top: 5%;
}
nav{
    margin: 0;
    top: 0;
    background-color: lightgray;
    text-align: center;
    width: 100%;
    position: relative;
    position: fixed;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
h1{
    color: rgb(221, 221, 221);
    margin: 0;
    padding-top: 10%;
    font-size: 5em;
    text-align: center;
}
h2{
    margin: 0;
    padding: 5%;
    font-size: 3em;
}
h3{
    margin: 0;
    padding-bottom: 5%;
    font-size: 2em;
}
p{
    margin: 0;
    font-size: 1.5em;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 1em;
    overflow: hidden;
    font-weight: bold;
}
li{
    margin: 0;
    text-align: left;
    font-weight:normal;
    font-size: 1.5em;
}
span {
    padding-right: 0.2em;
}
footer{
    padding-top: 2%;
    padding-bottom: 6%;
    background-color: rgb(31, 31, 31);
    color: lightgray;
    font-size: 0.5em;
    margin-top: 10%;
}
article.page{
    background-color: lightgray;
    max-width: 960px;
    margin:0 auto;
    text-align: center;
    overflow: hidden;
}
header.head{
    background-color: rgb(31, 31, 31);
    margin-top: 0;
}
ul.navi{
    list-style-type: none;
    margin: 0;
    padding: 1em;
    overflow: hidden;
    font-weight: bold;
}
li.navi{
    display: inline-block
}
li.navi a{
    padding: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
li.navi a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
} 
li.navi  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
} 
li.navi  a:hover {
    color: black;
    background-color: white;
    text-decoration: underline;
}
li.navi a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}
.photo{
    float: left;
    padding: 5% 5% 0 5%;
}
.liFirst{
    font-size: 2em;
    font-weight:normal;
    padding: 1%;
}
.subHeaders{
    background-color: rgb(31, 31, 31);
    color: rgb(221, 221, 221);
    margin: 0;
    padding-top: 5%;
    font-size: 3em;
    text-align: center;
}
.content{
    text-align: center;
    height: 100%;
    overflow: hidden;
    padding-top: 5%;
}
.contentLeft{
    text-align: center;
    border:solid 5px black;
    float: left;
    color: lightgray;
    height: auto;
    min-height: 200px;
    width: 45%;
    margin: 0;
    padding: 1%;
    background-color: rgb(31, 31, 31);
    overflow: hidden;
    margin-bottom: 20px;
}
.contentRight{
    text-align: center;
    border:solid 5px black;
    float: right;
    color: lightgray;
    height: 200px;
    width: 45%;
    margin: 0;
    padding: 1%;
    background-color: rgb(31, 31, 31);
    overflow: hidden;
    margin-bottom: 20px;
}
.contentCenter{
    text-align: center;
    border:solid 5px black;
    color: lightgray;
    height: 200px;
    width: 45%;
    padding: 1%;
    background-color: rgb(31, 31, 31);
    overflow: hidden;
}
a.gitLinks{
    color: lightgray;
}
#navBarLeft{
    float: left;
}
#navBarRight{
    float: right;
}
#headerInfo{
    font-size: 2em;
    padding-top: 1%;
    padding-bottom: 10%;
    color: rgb(221, 221, 221);
}
#introduction{
    padding-left: 35%;
}
#selfPotrait{
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4)
}
#websitePicture{
    border:solid 5px black;
}
@media only screen and (max-width: 800px) {
    ul{
        margin: 0;
        padding: 0;
    }
    h1{
        padding-top: 25%;
    }
    p{
        font-size: 1em;
    }
    #navBarLeft{
        float: none;
    }
    #navBarRight{
        float: none;
    }
    li.navi a{
        padding: 2%;
        float: none;
        display: inline-block;
        overflow: auto;
        font-size: .7em;
    }
    .photo{
        float: none;
        padding: 5%
    }
    #introduction{
        padding: 5%;
    }
    .content{
        text-align: center;
        height: 100%;
        overflow: hidden;
        padding: 5%;
    }
    .contentLeft{
        text-align: center;
        border:solid 5px black;
        float: none;
        color: lightgray;
        height: auto;
        min-height: 200px;
        width: 96%;
        margin: 0;
        padding: 1%;
        background-color: rgb(31, 31, 31);
        overflow: hidden;
        margin-bottom: 20px;
    }
    .contentRight{
        text-align: center;
        border:solid 5px black;
        float: none;
        color: lightgray;
        height: auto;
        min-height: 200px;
        width: 96%;
        margin: 0;
        padding: 1%;
        background-color: rgb(31, 31, 31);
        overflow: hidden;
        margin-bottom: 20px;
    }
    .contentCenter{
        text-align: center;
        border:solid 5px black;
        color: lightgray;
        height: auto;
        min-height: 200px;
        width: 96%;
        padding: 1%;
        background-color: rgb(31, 31, 31);
        overflow: hidden;
    }
}